/**
* Helvetica Neue font
*/

// Regular
@font-face {
  font-family: 'Helvetica Neue Regular';
  font-style: normal;
  font-weight: normal;
  src: url('HelveticaNeueRoman.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Helvetica Neue Italic'), url('HelveticaNeueItalic.ttf') format('ttf');
}

// Light
@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Light'), url('HelveticaNeueLight.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Light Italic'), url('HelveticaNeueLightItalic.otf') format('otf');
}

// Thin
@font-face {
  font-family: 'Helvetica Neue Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Thin'), url('HelveticaNeueThin.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Thin Italic'), url('HelveticaNeueThinItalic.otf') format('otf');
}

// Ultra Light
@font-face {
  font-family: 'Helvetica Neue Ultra Light';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Ultra Light'), url('HelveticaNeueUltraLight.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue Ultra Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Ultra Light Italic'), url('HelveticaNeueUltraLightItalic.otf') format('otf');
}

// Black
@font-face {
  font-family: 'Helvetica Neue Black';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Black'), url('HelveticaNeueBlack.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Black Italic'), url('HelveticaNeueBlackItalic.otf') format('otf');
}

// Heavy
@font-face {
  font-family: 'Helvetica Neue Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Heavy'), url('HelveticaNeueHeavy.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Heavy Italic'), url('HelveticaNeueHeavyItalic.otf') format('otf');
}

// Medium
@font-face {
  font-family: 'Helvetica Neue Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Medium'), url('HelveticaNeueMedium.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica Neue Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Medium Italic'), url('HelveticaNeueMediumItalic.otf') format('otf');
}

// Bold
@font-face {
  font-family: 'Helvetica Neue Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Bold'), url('HelveticaNeueBold.otf') format('otf');
}

@font-face {
    font-family: 'Helvetica Neue Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Bold'), url('HelveticaNeueBoldItalic.otf') format('otf');
}